<%= form_with(model: psot, local: true) do |form| %>
  <% if psot.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(psot.errors.count, "error") %> prohibited this psot from being saved:</h2>

      <ul>
      <% psot.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :anem %>
    <%= form.text_field :anem, id: :psot_anem %>
  </div>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title, id: :psot_title %>
  </div>

  <div class="field">
    <%= form.label :content %>
    <%= form.text_area :content, id: :psot_content %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
