<p id="notice"><%= notice %></p>

<h1>Psots</h1>

<table>
  <thead>
    <tr>
      <th>Anem</th>
      <th>Title</th>
      <th>Content</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @psots.each do |psot| %>
      <tr>
        <td><%= psot.anem %></td>
        <td><%= psot.title %></td>
        <td><%= psot.content %></td>
        <td><%= link_to 'Show', psot %></td>
        <td><%= link_to 'Edit', edit_psot_path(psot) %></td>
        <td><%= link_to 'Destroy', psot, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Psot', new_psot_path %>
