<p id="notice"><%= notice %></p>

<p>
  <strong>Anem:</strong>
  <%= @psot.anem %>
</p>

<p>
  <strong>Title:</strong>
  <%= @psot.title %>
</p>

<p>
  <strong>Content:</strong>
  <%= @psot.content %>
</p>

<%= link_to 'Edit', edit_psot_path(@psot) %> |
<%= link_to 'Back', psots_path %>
