<%= form_with(model: employee_management, local: true) do |form| %>
  <% if employee_management.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(employee_management.errors.count, "error") %> prohibited this employee_management from being saved:</h2>

      <ul>
      <% employee_management.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :employee %>
    <%= form.text_field :employee, id: :employee_management_employee %>
  </div>

  <div class="field">
    <%= form.label :clockin %>
    <%= form.text_field :clockin, id: :employee_management_clockin %>
  </div>

  <div class="field">
    <%= form.label :clockout %>
    <%= form.text_field :clockout, id: :employee_management_clockout %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
