<p id="notice"><%= notice %></p>

<h1>Employee Managements</h1>

<br>
<br>

<table>
  <thead>
    <tr>
      <th>Employee</th>
      <th>Clockin</th>
      <th>Clockout</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @employee_managements.each do |employee_management| %>
      <tr>
        <td><%= employee_management.employee %></td>
        <td><%= employee_management.clockin %></td>
        <td><%= employee_management.clockout %></td>
        <td><%= link_to 'Show', employee_management %></td>
        <td><%= link_to 'Edit', edit_employee_management_path(employee_management) %></td>
        <td><%= link_to 'Destroy', employee_management, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>


<br>
<br>


<%= link_to 'New Employee Management', new_employee_management_path,
    class: 'ui-btn ui-corner-all ui-btn-icon-left ui-icon-plus'
%>

<br>

<%= link_to 'Go back to Home', root_path,
    class: 'ui-btn ui-corner-all ui-btn-icon-left ui-icon-home'
%>

