<p id="notice"><%= notice %></p>

<p>
  <strong>Employee:</strong>
  <%= @employee_management.employee %>
</p>

<p>
  <strong>Clockin:</strong>
  <%= @employee_management.clockin %>
</p>

<p>
  <strong>Clockout:</strong>
  <%= @employee_management.clockout %>
</p>

<%= link_to 'Edit', edit_employee_management_path(@employee_management) %> |
<%= link_to 'Back', employee_managements_path %>
