<%= form_with(model: customer_management, local: true) do |form| %>
  <% if customer_management.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(customer_management.errors.count, "error") %> prohibited this customer_management from being saved:</h2>

      <ul>
      <% customer_management.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :customer %>
    <%= form.text_field :customer, id: :customer_management_customer %>
  </div>

  <div class="field">
    <%= form.label :amount_paid %>
    <%= form.text_field :amount_paid, id: :customer_management_amount_paid %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
