<p id="notice"><%= notice %></p>

<h1>Customer Managements</h1>

<br>
<br>

<table>
  <thead>
    <tr>
      <th>Customer</th>
      <th>Amount paid</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @customer_managements.each do |customer_management| %>
      <tr>
        <td><%= customer_management.customer %></td>
        <td><%= customer_management.amount_paid %></td>
        <td><%= link_to 'Show', customer_management %></td>
        <td><%= link_to 'Edit', edit_customer_management_path(customer_management)  %></td>
        <td><%= link_to 'Destroy', customer_management, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<br>

<%= link_to 'New Customer Management', new_customer_management_path,
    class: 'ui-btn ui-corner-all ui-btn-icon-left ui-icon-plus'
%>

<br>

<%= link_to 'Go back to Home', root_path,
    class: 'ui-btn ui-corner-all ui-btn-icon-left ui-icon-home'
%>
