<p id="notice"><%= notice %></p>

<p>
  <strong>Customer:</strong>
  <%= @customer_management.customer %>
</p>

<p>
  <strong>Amount paid:</strong>
  <%= @customer_management.amount_paid %>
</p>

<%= link_to 'Edit', edit_customer_management_path(@customer_management) %> |
<%= link_to 'Back', customer_managements_path %>
