<%= form_with(model: sales_reporting, local: true) do |form| %>
  <% if sales_reporting.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(sales_reporting.errors.count, "error") %> prohibited this sales_reporting from being saved:</h2>

      <ul>
      <% sales_reporting.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :product %>
    <%= form.text_field :product, id: :sales_reporting_product %>
  </div>

  <div class="field">
    <%= form.label :quantity %>
    <%= form.number_field :quantity, id: :sales_reporting_quantity %>
  </div>

  <div class="field">
    <%= form.label :amount_paid %>
    <%= form.text_field :amount_paid, id: :sales_reporting_amount_paid %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
