<p id="notice"><%= notice %></p>

<h1>Sales Reportings</h1>

<br>
<br>

<table>
  <thead>
    <tr>
      <th>Product</th>
      <th>Quantity</th>
      <th>Amount paid</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @sales_reportings.each do |sales_reporting| %>
      <tr>
        <td><%= sales_reporting.product %></td>
        <td><%= sales_reporting.quantity %></td>
        <td><%= sales_reporting.amount_paid %></td>
        <td><%= link_to 'Show', sales_reporting %></td>
        <td><%= link_to 'Edit', edit_sales_reporting_path(sales_reporting) %></td>
        <td><%= link_to 'Destroy', sales_reporting, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<br>

<%= link_to 'New Sales Reporting', new_sales_reporting_path,
    class: 'ui-btn ui-corner-all ui-btn-icon-left ui-icon-plus'
%>

<br>

<%= link_to 'Go back to Home', root_path,
    class: 'ui-btn ui-corner-all ui-btn-icon-left ui-icon-home'
%>
