<p id="notice"><%= notice %></p>

<p>
  <strong>Product:</strong>
  <%= @sales_reporting.product %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @sales_reporting.quantity %>
</p>

<p>
  <strong>Amount paid:</strong>
  <%= @sales_reporting.amount_paid %>
</p>

<%= link_to 'Edit', edit_sales_reporting_path(@sales_reporting) %> |
<%= link_to 'Back', sales_reportings_path %>
