<h1>SUNKIDS Point-Of-Sale</h1>


<br>

<p>Welcome to SUNKIDS POS! </p>
<p>This POS is designed and created by Team Sunkids. </p>


<br>
<br>

<%= link_to 'Sales Reporting', sales_reportings_path, 
    class: 'ui-btn ui-corner-all ui-btn-icon-left ui-icon-grid'
%>



<br>
<br>

<%= link_to 'Product', products_path,
    class: 'ui-btn ui-corner-all ui-btn-icon-left ui-icon-grid'
%>

<br>
<br>

<%= link_to 'Customer Management', customer_managements_path,
    class: 'ui-btn ui-corner-all ui-btn-icon-left ui-icon-grid'
%>

<br>
<br>

<%= link_to 'Employee Management', employee_managements_path,
    class: 'ui-btn ui-corner-all ui-btn-icon-left ui-icon-grid'
%>
