<%= form_with(model: product, local: true) do |form| %>
  <% if product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
      <% product.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :product %>
    <%= form.text_field :product, id: :product_product %>
  </div>

  <div class="field">
    <%= form.label :quantity %>
    <%= form.number_field :quantity, id: :product_quantity %>
  </div>

  <div class="field">
    <%= form.label :unit_purchasing_price %>
    <%= form.text_field :unit_purchasing_price, id: :product_unit_purchasing_price %>
  </div>

  <div class="field">
    <%= form.label :unit_selling_price %>
    <%= form.text_field :unit_selling_price, id: :product_unit_selling_price %>
  </div>

  <div class="field">
    <%= form.label :supplier %>
    <%= form.text_field :supplier, id: :product_supplier %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
