<p id="notice"><%= notice %></p>

<p>
  <strong>Product:</strong>
  <%= @product.product %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @product.quantity %>
</p>

<p>
  <strong>Unit purchasing price:</strong>
  <%= @product.unit_purchasing_price %>
</p>

<p>
  <strong>Unit selling price:</strong>
  <%= @product.unit_selling_price %>
</p>

<p>
  <strong>Supplier:</strong>
  <%= @product.supplier %>
</p>

<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
