<!DOCTYPE html>
<html>
  <head>
    <title>Sunkids</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>


    
  <body>
      
<div data-role="page">
	<div data-role="header">★☆★☆★☆★☆★☆★☆★☆★☆★☆★☆★☆★☆★☆★☆★☆★☆★☆★☆★☆★☆★☆★☆★☆★☆★☆</div>
	<div role="main" class="ui-content"> SUNKIDS POS 
        <%= yield %>
      </div>
	<div data-role="footer">★☆★☆★☆★☆★☆★☆★☆★☆★☆★☆★☆★☆★☆★☆★☆★☆★☆★☆★☆★☆★☆★☆★☆★☆★☆</div>
</div>
      

  </body>
</html>
